<!-- 
<ul>
  <% @notes.each do |note| %>
    <li><%= note.title %></li>
  <% end %>
</ul> 
-->

<header class='flex justify-between'>
  <h1 class='text-2xl font-bold'>Notes</h1>
  <%= link_to 'New Note', new_note_path, class: 'inline-block px-3 py-1.5 bg-indigo-600 rounded-md text-white' %>
</header>


<table class='table-auto w-full mt-6'>
  <thead class='text-left'>
    <tr>
      <th class='py-4 pl-3'>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan='2'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr class='border-t border-gray-200'>
        <td class='py-3 pl-3'><%= note.id %></td>
        <td><%= link_to note.title, note %></td>
        <td><%= note.body %></td>
        <td><%= link_to 'Edit', edit_note_path(note), class: 'px-3 py-1.5 border border-gray-200 rounded-md' %></td>
        <td><%= button_to 'Delete', note, method: :delete, class: 'px-3 py-1.5 bg-rose-100 text-rose-400 rounded-md' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
